* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #F6EEB6;
}

/* Стили для контейнера ingridients */
.ingridients {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
}

.photo {
    width: 250px; 
    height: 250px;
    background-color: #F6EEB6; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 4px; /* Внутренний отступ */
}

.photo img {
    max-width: 100%;  
    max-height: 100%; 
    object-fit: contain; 
}

.ingrid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    width: 60%; 
    color: #3F1E54;
}

.name p {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto; 
    padding: 5px 10px; 
    background-color: #F6EEB6; 
    display: inline-block; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 45px !important; 
    color: #3F1E54;
}


/* Стили для списка ингридиентов */
.ingrid h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #3F1E54;
}

.ingrid p {
    font-size: 16px;
    margin: 5px 0;
    color: #3F1E54;
}

/* Стили для контейнера рецепта */
.receipt {
    background-color: #F6EEB6;
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовков рецепта */
.receipt h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3F1E54;
}

/* Стили для шагов рецепта */
.receipt p {
    font-size: 16px;
    margin: 5px 0;
    color: #3F1E54;
}

header {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #A4B480;
    margin-bottom: 0;
}

.header2 {
    min-height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #A4B480;
    margin: 0;
    overflow: hidden;
}

.header__logo {
    flex: 1;
    text-align: left;
    font-size: 24px;
    font-weight: 800;
    color: #3F1E54;
}

.nav {
    flex: 2;
    text-align: center;
}

.topnav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.topnav a {
    font-size: 14px;
    font-weight: bold;
    color: #3F1E54;
}

.topnav a:hover {
    border-bottom: 3px solid #3F1E54;
    text-decoration: none;
}

.topnav .icon {
    display: none;
}

.auth-links {
    flex: 1;
    text-align: right;
}

.auth-links a {
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #3F1E54;
    text-transform: uppercase;
}


main {
    min-height: 100vh;
    background: #EFF5E4;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}



.footer {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #A4B480;
}

.topnav_footer1 {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.topnav_footer1 a img {
    height: 20px;
    width: 20px;
}

.topnav_footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 40px;
}

.topnav_footer a {
    font-size: 14px;
    font-weight: bold;
    color: #3F1E54;
}

.topnav_footer2 {
    text-align: right;
}

.topnav_footer2 a {
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #3F1E54;
    text-transform: uppercase;
}

@media screen and (max-width: 1010px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        display: block;
        font-size: 25px;
        color: #3F1E54;
    }

    .topnav.responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(164, 180, 128, 0.85);
        z-index: 1;
    }

    .topnav.responsive a {
        display: block;
        padding: 20px 0;
        font-size: 24px;
        color: #3F1E54;
        text-align: center;
    }

    .topnav.responsive a.icon {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: #3F1E54;
    }
}
