* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header2 {
    display: flex;
    width: 100%;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #A4B480;
    margin: 0;
    overflow: hidden;
}

header, .header2 {
    min-height: 50px; /* Устанавливаем высоту шапки 50px */
    display: flex; /* Используем flex для горизонтального выравнивания */
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: space-between; /* Распределяем элементы по краям */
    padding: 0 20px; /* Отступы внутри шапки */
    background: #A4B480; /* Цвет фона */
}

.main {
    width: 100%;
    height: 500px; /* Высота контейнера main */
}

.footer {
    height: 50px; /* Устанавливаем высоту футера 50px */
    display: flex; /* Используем flex для горизонтального выравнивания */
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: space-between; /* Распределяем элементы по краям */
    padding: 0 20px; /* Отступы внутри футера */
    background: #A4B480; /* Цвет фона */
}

@media screen and (max-width: 1000px) {
    .menu {
        gap: 60px; /* Пробелы между ссылками при уменьшении экрана */
    }
}
