* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #A4B480;
    margin-bottom: 0;
    width: 100%; /* Гарантируем, что header не выйдет за пределы */
    box-sizing: border-box; /* Учитываем padding в общей ширине */
}

.header2 {
    min-height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #A4B480;
    margin: 0;
    overflow: hidden;
}

.header__logo {
    flex: 1;
    text-align: left;
    font-size: 24px;
    font-weight: 800;
    color: #3F1E54;
}

.nav {
    flex: 2;
    text-align: center;
}

.topnav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.topnav a {
    font-size: 14px;
    font-weight: bold;
    color: #3F1E54;
}

.topnav a:hover {
    border-bottom: 3px solid #3F1E54;
    text-decoration: none;
}

.topnav .icon {
    display: none;
}

.auth-links {
    flex: 1;
    text-align: right;
}

.auth-links a {
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #3F1E54;
    text-transform: uppercase;
}

.main {
    position: relative; /* Установим относительное позиционирование */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFF5E4;
    height: 500px; /* Ограничиваем высоту main */
    margin: 0 auto;
    overflow: hidden; /* Ограничиваем видимость дочерних элементов */

    transition: 0.5s;
}

.main.active {
    background-color: #C1D39E;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.container {
    width: 640px;
    height: 400px;
    padding: 40px 0;
    max-width: 100%;
    text-align: center; 
    position: relative;
}

.block {
    height: 100%;
    background-color: rgba(164, 180, 128, 0.5);

    display: flex;
    align-items: center;

}

.block__item {
    width: 50%;
    box-sizing: border-box;
}

.block-item {
    text-align: center;
}

.block-item__title {
    font-size: 1.2rem;
    font-weight: bold; 
    color: #3F1E54;
    margin-bottom: 10px;
}

.block-item__btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #EFF5E4;
    color: #3F1E54;
    font-size: 14px;
    font-weight: bold;
}


.form-box.active {
    left: 50%;
}

.form-box {
    background-color: #D0DCB2;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.5s ease-in-out;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    width: 100%;

    position: absolute;

    transition: 0.5s;
}

.form_signin {
    left: 0;
    transition-delay: 0.25s;
}

.form_signup {
    left: 100%;
    transition-delay: 0s;
}

.form-box.active .form_signin {
    left: -100%;
    transition-delay: 0s;
}

.form-box.active .form_signup {
    left: 0;
    transition-delay: 0.25s;
}
.form__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3F1E54;
    margin-bottom: 20px;
}

.form__input {
    width: 80%; /* Ограничиваем ширину инпутов */
    padding: 10px;
    margin: 10px 0;
}

.form__btn {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: #A4B480;
    color: #fff;
    padding: 10px 50px;
}

.form__forgot {
    font-size: 14px;
    color: #3F1E54;
    margin-top: 10px;
}


.footer {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #A4B480;
}

.topnav_footer1 {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.topnav_footer1 a img {
    height: 20px;
    width: 20px;
}

.topnav_footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 40px;
}

.topnav_footer a {
    font-size: 14px;
    font-weight: bold;
    color: #3F1E54;
}

.topnav_footer2 {
    text-align: right;
}

.topnav_footer2 a {
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #3F1E54;
    text-transform: uppercase;
}

@media screen and (max-width: 1010px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        display: block;
        font-size: 25px;
        color: #3F1E54;
    }

    .topnav.responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(164, 180, 128, 0.85);
        z-index: 1;
    }

    .topnav.responsive a {
        display: block;
        padding: 20px 0;
        font-size: 24px;
        color: #3F1E54;
        text-align: center;
    }

    .topnav.responsive a.icon {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: #3F1E54;
    }
}
