* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header2 {
    display: flex;
    width: 100%;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #A4B480;
    margin: 0;
    overflow: hidden;
}

header, .header2 {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #A4B480;
}

.main {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(to right, 
        #F6EEB6 33%, 
        #EFF5E4 33%, 
        #EFF5E4 100%
    );
}

.main-content {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
}

.main-content2 {
    width: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Balsamiq Sans', sans-serif;
    color: #3F1E54;
    justify-content: center;
    margin-left: 25px;
    position: relative;
    top: 0;
}

.time-list {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    gap: 40px; 
}

.time-list p {
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #3F1E54;
    margin: 0;
}

.time-line {
    width: 100vw;
    height: 0.5px;
    background-color: black;
    margin: 10px 0;
    position: relative;
    left: 100%;
    margin-left: 70px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    justify-content: center;
    gap: 75px;
    margin: 0;
}

.menu a {
    font-size: 14px;
    font-weight: bold;
    color: #3F1E54;
    position: relative;
}

.menu a::before {
    content: "·";
    font-size: 28px;
    font-weight: bold;
    color: #3F1E54;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.knopka {
    position: relative;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #C4D59B;
    padding: 10px;
    z-index: 999;
    width: 80%;
    box-shadow: 
        8px 0 16px rgba(0, 0, 0, 0.3),
        -8px 0 16px rgba(0, 0, 0, 0.3),
        0 8px 16px rgba(0, 0, 0, 0.3);
}

.dropdown-menu a {
    font-size: 14px;
    font-weight: bold;
    color: #3F1E54;
    text-decoration: none;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}

.dropdown-menu1 {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    background-color: #EFF5E4;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.dropdown-menu1 a {
    font-size: 14px;
    font-weight: bold;
    color: #3F1E54;
    text-decoration: none;
}

.dropdown-menu1 a:hover {
    text-decoration: underline;
}

.space {
  margin-right: 30px;
}

.column {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px;
}

.column > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #A4B480;
}

@media screen and (max-width: 1000px) {
    .menu {
        gap: 60px;
    }
}
